.charts {
  margin-top: 2rem;
}

.chart {
  background-color: white;

  padding: 1rem;
  margin: 1rem;

  border-radius: 1rem;

  box-shadow: 0 0 1rem 0.01rem black;
}

#bar {
  max-width: 78rem;
  width: 100% !important;
  height: 30rem !important;
}
