.charts {
  margin-top: 2rem;

  display: flex;
  flex-wrap: wrap;
}

.chart {
  background-color: white;

  padding: 1rem;
  margin: 1rem;

  border-radius: 1rem;

  box-shadow: 0 0 1rem 0.01rem rgb(0, 0, 0);

  width: calc(100% - 2rem) !important;
  height: fit-content !important;
  max-height: 30rem;
  max-width: 82rem;
}

#user-page .charts {
  flex-direction: column;
}
